@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  body {
    font-family:
      'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* for IE, Edge */
  }

  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

* {
  -webkit-tap-highlight-color: transparent; /* 모바일 터치 하이라이트 제거 */
  -webkit-text-size-adjust: none; /* 자동 텍스트 크기 조절 제거 */
  -webkit-auto-adjust-zoom: none; /* input 필드 자동 확대 제거 */
}
